
 /* 
    Core Color
    black : #494544
    blue : #2B76B5
    skyblue : #EFFAFF
    grey : #AFABAB
 */
 
 /* ******************** font ******************** */

 /* 에스코어 드림 Hvy */
 @font-face {
  font-family: 'S-CoreDream-8Heavy';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

 /* ******************** all ******************** */

 *,
 *::before,
 *::after {
   -webkit-box-sizing: border-box;
   box-sizing: border-box; 
 }
 
 article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
   display: block; 
 }

body{
  font-family: "Roboto", Arial, sans-serif;
}
 
 h1, h2, h3, h4, h5, h6 {
   margin-top: 0;
   margin-bottom: 0.5rem; 
}
 
p {
   margin-top: 0;
   margin-bottom: 1rem; 
}

.App {
  font-family: "Roboto", Arial, sans-serif;
  background: #fff;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  color: #494544;
}

.btn{
    padding: 0.5em 2em !important;
    color: white !important;
    background-color: #2B76B5 !important;
    border: 2px solid #2B76B5 !important;
}

.btn.btn-primary{
    color: #2B76B5 !important;
    background-color: transparent !important;
}

.btn-none {
  text-decoration: none !important;
  color: #2B76B5 !important;
}

.pulse:hover{
  animation: pulse; 
  animation-duration: 1s; 
  animation-timing-function: ease-in-out;
}

.bounce:hover{
  animation: bounce; 
  animation-duration: 1s; 
}

.opacity:hover{
  opacity: 50%;
}

.bg-sky{
  background-color: #EFFAFF;
}

.summary{
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.5em;
}

.contents{
  color: gray;
  line-height: 1.5em;
}

.shadow{box-shadow: 0 8px 40px -16px rgba(12,22,44,.32) !important;}

.subject{
  opacity: 0.9;
  font-weight: bold;
  font-size: 1.2em; 
  line-height: 1.3em;
  text-transform: capitalize;
}


/* ******************** nav ******************** */ 

.navbar{
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.navbar-nav > .nav-item > .nav-link {
  font-size: 15px;
  padding-top: .9rem;
  padding-bottom: .9rem;
  padding-left: 20px;
  padding-right: 20px;
  color: #494544;
  opacity: 1 !important; 
}

.nav-item:hover, .nav-link:hover{
  color: #2B76B5 !important;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem; 
}
.navbar-toggler:hover, .navbar-toggler:focus {
  text-decoration: none;  
}
.navbar-toggler:not(:disabled):not(.disabled) {
  cursor: pointer; 
}

/* ******************** footer ******************** */ 

.R-footer {
  font-size: 1em;
  padding: 4em 0 0 0;
  background: #215893;
  color: white;
 }

 .R-footer *{
  color: white;
 }

.R-footer-title{
  font-weight: 500;
}

.R-footer-right{
  color: #494544;
}

.footer-hover:hover { 
  text-decoration: none;
  color: white;
  opacity: 0.7;
}

.R-footer-right *{
  font-size: 0.8em;
  color: #494544 !important;
}


/* ******************** main ******************** */ 

.main-wrap {
  padding-top: 3em;
  width: 100%;
  height: 700px;
  position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  z-index: 0; 
}

.slider-text {
  height: 700px;
  position: relative; 
}
@media (max-width: 767.98px) {
  .slider-text {
    text-align: center !important;
  } 
}

.r-main-sub{
  color: #2B76B5 !important;
  line-height: 1.3em;
  font-size: 1.1em;
}

.r-main-title{
  font-family: 'S-CoreDream-8Heavy';
  font-size: 2.5em;
  line-height: 1.5em;
}

.main-back {
  position: relative;
  width: 100%;
  display: block;
}
.main-back-img{
  width: 40%;
  display: block;
  opacity: 0.8;
  animation: rotation2 infinite 13s linear;
} 

.main-front{
  width: 100%;
  position: absolute;
  top: -50%;
  bottom: -50%;
  left: 0;
  right: 0;
  display: block;
}
.main-front-img{
  width: 70%;
  display: block;
  opacity: 0.5;
  animation: rotation infinite 33s linear;
}

@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

@keyframes rotation2 {
  from {transform:rotateY(0deg);}
  to {transform:rotateY(360deg);}                     
 
}


/* ******************** contents ******************** */ 


.R-section {
  padding: 5em 0;
  position: relative; 
}
@media (max-width: 767.98px) {
  .R-section {
    padding: 5em 0; 
  } 
}

.heading-section h2 {
  font-size: 2.5em;
  font-weight: 600; 
  text-transform: capitalize;
}
@media (max-width: 767.98px) {
  .heading-section h2 {
    font-size: 2em; 
  } 
}

.heading-section .subheading {
  font-size: 0.9em;
  display: inline-block;
  margin: 0;
  padding: 0;
  color: #2B76B5;
  position: relative; 
}

.subheading{
  text-transform: uppercase;
  font-size: 0.9em !important;
}



/* ******************** case ******************** */ 

.case-container{
  height: auto;
  vertical-align: center !important;
}
@media (max-width: 767.98px) {
  .case-container {
    padding: 1em !important;
  } 
}

.case-summary{
  color: #215893;
  font-size: 1em; 
  line-height: 1.2em;
}

/* ******************** benefit ******************** */ 

@media (max-width: 992px) {
  .benefit-container {
    width: 80%;
    margin-bottom: 3em !important;
  } 
  .benefit-text {
    padding: 1em 3em !important;
  } 
}

.benefit-frame{
  border: 1px solid rgba(43, 118, 181, 0.9) !important;
  border-radius: 5%;
}

.benefit-wrap {
  display: block;
  padding: 0;
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 0.5em;
  z-index: 0;
}

/* ******************** gs ******************** */ 

#gs .title{
  padding-bottom: 0 !important;
}

.gs-left{
  padding: 3.5em 3.5em 0em 4em !important;
  text-align: left;
}

.gs-right{
  margin-top: 3.3em;
  text-align: left;
}

@media (max-width: 992px) {
  .gs-right{
    margin-top: 1em;
    text-align: center;
  }
}

.gs-img{
  width: 30%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 999;
}

.gs-frame{
  border: 2px solid lightgrey !important;
  position: relative;
  width: 100%;
  display: block;
}


.gs-test{
  width: 60%;
  border-bottom: 3px solid rgba(43, 118, 181, 0.7) !important;
}

.gs-test h3{font-family: 'S-CoreDream-8Heavy';}
.gs-table{width: 55%;}
.gs-table tr{border-bottom: 0.5em solid white;}
.gs-question{width: 80%;}
.gs-answer{width: 10%; font-weight: 700;}
.gs-pass{ width: 10%; background-color: rgba(43, 118, 181, 0.5);}
#gs .summary{color: #215893;}
#gs .btn{border: none !important; padding: 0 !important;}